*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 200vh;
}

header {
	position: fixed;
	width: 100%;
	height: 75px;
	opacity: 0.95;
	background: #fff;
	box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
	/* animation: startHeader 2.5s; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	z-index: 1;
}

.logo {
	width: 43px;
	height: 16px;
}

.logo > img {
	max-width: 100%;
}

.kv {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	animation: 1s bgOpening ease-out;
}

@keyframes bgOpening {
	0% {
		clip-path: circle(0%);
	}
	100% {
		clip-path: circle(100%);
	}
}

.kvList {
	list-style: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 300ms linear;
	background: gray;
}

.scroll .kvList {
	width: 900px;
	height: 300px;
}

.kvList > li {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150% auto;
}

.kvList > li.active {
	animation-name: kvAnimate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes kvAnimate {
	0% {
		opacity: 0;
		background-size: 150% auto;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	to {
		opacity: 0;
		background-size: 120% auto;
	}
}
