@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
  font-family: "Noto Sans TC", sans-serif;
}

.mv {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
}

.mv::before,
.mv::after {
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 320px);
  width: 720px;
  height: 160px;
}

.mv::before {
  content: "";
  display: inline-block;
  animation: startBox 5s;
  background: #1cd479;
  opacity: 0;
  z-index: 1;
}

.mv::after {
  content: "Life on LIFE";
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 30px;
  padding-bottom: 18px;
  font-size: 60px;
  font-family: sans-serif;
  opacity: 0;
  z-index: 2;
  animation: startBox 5s;
}

@keyframes startText {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes startBox {
  0% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: left center;
  }

  7% {
    transform-origin: left center;
  }

  8% {
    transform: scaleX(1);
    transform-origin: right center;
  }

  9% {
    transform: scaleX(0.97);
  }

  13% {
    transform: scaleX(1);
  }

  25% {
    transform: scaleX(1);
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  40% {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(0);
    transform-origin: right center;
    opacity: 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  opacity: 0.95;
  background: #fff;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  z-index: 1;
  transform: translate(0px, -75px);
  animation-name: startHeader;
  animation-duration: 500ms;
  animation-delay: 1800ms;
  animation-fill-mode: forwards;
  font-weight: 700;
}

@keyframes startHeader {
  0% {
    transform: translate(0px, -75px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.logo {
  width: 43px;
  height: 16px;
}

.logo > img {
  max-width: 100%;
}

.kv {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  animation-name: bgOpening;
  animation-duration: 700ms;
  animation-delay: 1200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  clip-path: inset(50% 50% 50% 50%);
}

@keyframes bgOpening {
  0% {
    clip-path: inset(34% 17% 45% 25%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.kvList {
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms linear;
  background: gray;
}

.scroll .kvList {
  width: 1200px;
  height: 300px;
}

.kvList > li {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% auto;
}

.kvList > li.active {
  animation-name: kvAnimate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes kvAnimate {
  0% {
    opacity: 0;
    background-size: 150% auto;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 0;
    background-size: 120% auto;
  }
}

.content {
  height: 100vh;
  background-color: #ddd;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  gap: 5vw;
}

.currentLang {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.currentLang::after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}

.navigation::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 94px;
  height: 4px;
  background-color: #222;
}

.navigation li {
  cursor: pointer;
}
