@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap");

:root {
  --primary-violet: #7541c8;
  --color-dark-gray: rgb(72, 85, 106);
  --color-dark-blue: #19212e;
  --color-white: rgb(255, 255, 255);
  --color-light-gray: #cfcfcf;
  --color-dark-white: rgb(236, 242, 248);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-dark-white);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(max-content, auto));
  grid-template-areas:
    "a a b e"
    "c d d e";
  gap: 25px;
}

.card {
  padding: 1.8rem 2.57rem;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  &:nth-child(1) {
    background-color: var(--primary-violet);
    grid-area: a;
    position: relative;

    &::before {
      content: "";
      background: url(../images/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 0;
      right: 14%;
      width: 115px;
      height: 140px;
    }
  }

  &:nth-child(2) {
    background-color: var(--color-dark-gray);
    grid-area: b;
  }

  &:nth-child(3) {
    background-color: var(--color-white);
    grid-area: c;
  }

  &:nth-child(4) {
    background-color: var(--color-dark-blue);
    grid-area: d;
  }

  &:nth-child(5) {
    background-color: var(--color-white);
    grid-area: e;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
    z-index: 1;
  }

  &__avatar img {
    width: 36px;
    border-radius: 50%;
  }

  &:nth-child(1) &__avatar img,
  &:nth-child(4) &__avatar img {
    box-shadow: 0 0 0 2px rgb(167, 117, 241);
  }

  &__name {
    color: var(--color-dark-white);
    small {
      display: block;
      color: rgba(236, 242, 248, 0.5);
    }
  }

  &__body {
    position: relative;
  }

  &:nth-child(3) &__name,
  &:nth-child(5) &__name {
    color: rgb(25, 33, 46);
    small {
      color: rgba(25, 33, 46, 0.5);
    }
  }

  &__main-content {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 21px;
  }

  &:nth-child(3) &__main-content,
  &:nth-child(5) &__main-content {
    color: var(--color-dark-gray);
    font-weight: 600;
  }

  &__description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
  }

  &:nth-child(3) &__description,
  &:nth-child(5) &__description {
    color: rgba(72, 85, 106, 0.7);
  }
}

@media (max-width: 1250px) {
  .container {
    padding: 50px 20px 0 20px;
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(max-content, auto));
    gap: 20px;
    grid-template-areas:
      "a a b"
      "c d d"
      "e e e";
  }

  .card {
    padding: 2rem;

    &__header {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 950px) {
  .container {
    padding: 100px 20px 0 20px;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(max-content, auto));
    gap: 20px;
    grid-template-areas:
      "a a"
      "b c"
      "d d"
      "e e";
  }
}

@media (max-width: 674px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, minmax(max-content, auto));
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
  }

  .card:nth-child(1)::before {
    right: 5%;
  }
}
