* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    align-items:center;
    background:#003;
    justify-content: center;
}

.wrap {
    width:1200px;
    display:flex;
    margin:auto;
    font-family:sans-serif;
}

.item {
    width:368px;
    margin:15px;
    text-align:center;
    background:#fff;
    border:1px solid #00f;
    transform: translateY(0px);
    transition:0.5s;
}

.item h2 {
    border-bottom:1px solid #888;
    padding-bottom:.3em;
    margin-bottom:.4em;
    font-weight:900;
    transition:0.25s;
}

.item p {
    line-height:1.6;
    font-weight:300;
    transition:0.25s;
}

.item .txt {
    padding:20px;
    position:relative;
}

.item .txt::before {
    content:'';
    position:absolute;
    width:0;
    height:0;
    border-top:50px solid transparent;
    border-left:183px solid #fff;
    border-right:183px solid #fff;
    transform:translateY(-100%);
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.item:hover h2 {
    color:#fff;
    border-bottom-color:#fff;
}

.item:hover p {
    color:#fff;
}


.item:hover {
    transform:translateY(-15px);
}

.item:hover .txt {
    background-image: linear-gradient(0deg, #FB8076, #FEB85D);
}

.item:hover .txt::before {
    border-left:183px solid #FEB85D;
    border-right:183px solid #FEB85D;
}

.item img {
    width:100%;
    /* vertical-align: middle; */
}

