<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="./styles/main.css" />
    <title>Frontend Mentor | [Challenge Name Here]</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body>
    <main>
      <section class="container">
        <div class="illustration">
          <div class="illustration__container">
            <div class="illustration__wrapper">
              <header class="illustration__header">
                <span class="illustration__back"></span>
                <div class="user">
                  <div class="user__avatar">
                    <img src="./images/avatar.jpg" alt="" />
                  </div>
                  <div class="user__info">
                    <h1 class="user_name">Samuel Green</h1>
                    <p class="user__state">Available to Walk</p>
                  </div>
                </div>
                <span class="illustration__more">
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 60 60"
                    style="enable-background: new 0 0 60 60"
                    xml:space="preserve"
                  >
                    <g>
                      <path
                        d="M30,16c4.411,0,8-3.589,8-8s-3.589-8-8-8s-8,3.589-8,8S25.589,16,30,16z"
                      />
                      <path
                        d="M30,44c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S34.411,44,30,44z"
                      />
                      <path
                        d="M30,22c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S34.411,22,30,22z"
                      />
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </svg>
                  <ul class="more">
                    <li>Setiings</li>
                    <li>Sign out</li>
                  </ul>
                </span>
              </header>

              <div class="illustration__body">
                <div class="row">
                  <div class="text">
                    That sounds great. I’d be happy with that.
                  </div>
                </div>
                <div class="row">
                  <div class="text">
                    Could you send over some pictures of your dog, please?
                  </div>
                </div>
                <div class="media sent">
                  <img src="./images/dog-image-1.jpg" alt="" />
                  <img src="./images/dog-image-2.jpg" alt="" />
                  <img src="./images/dog-image-3.jpg" alt="" />
                </div>
                <div class="row sent">
                  <div class="text">
                    Here are a few pictures. She’s a happy girl!
                  </div>
                </div>
                <div class="row sent">
                  <div class="text">Can you make it?</div>
                </div>

                <div class="row">
                  <div class="text">
                    She looks so happy! The time we discussed works. How long
                    shall I take her out for?
                  </div>
                </div>

                <div class="row plan">
                  <div class="offer">
                    <input type="radio" name="plan" id="plan1" value="29" />
                    <label for="plan1">
                      <span class="offer__text">30 minute walk</span>
                      <span class="offer__price">$29</span>
                    </label>
                  </div>
                </div>

                <div class="row plan">
                  <div class="offer">
                    <input type="radio" name="plan" value="49" id="plan2" />
                    <label for="plan2">
                      <span class="offer__text">1 hour walk</span>
                      <span class="offer__price">$49</span>
                    </label>
                  </div>
                </div>
              </div>

              <footer class="illustration__footer">
                <input type="text" placeholder="Type a message…" />
                <button type="submit" role="submit"></button>
              </footer>
            </div>
          </div>
        </div>
        <div class="heading">
          <h1 class="heading__title">Simple booking</h1>
          <p class="heading__description">
            Stay in touch with our dog walkers through the chat interface. This
            makes it easy to discuss arrangements and make bookings. Once the
            walk has been completed you can rate your walker and book again all
            through the chat.
          </p>
        </div>
      </section>

      <div class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by <a href="https://github.com/yuenu">yuenu</a>.
      </div>
    </main>

    <script src="app.js"></script>
  </body>
</html>
