*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}