:root {
  --pink-light: #ff7eb4;
  --pink: #ff2581;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #00074a;
}

.icon {
  fill: transparent;
  stroke: var(--pink);
  stroke-width: 20;
  cursor: pointer;
  position: relative;
}
.icon svg {
  overflow: visible;
  width: 10rem;
}

.icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}

.icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}

.icon .heart-main:hover path {
  animation: stroke-animation 2s ease-in-out forwards;
}

.icon .heart-main:hover ~ .heart-background path {
  animation: fade-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--pink);
    transform: scale(1.2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--pink);
  }
}

@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--pink-light);
    transform: scale(1.1);
    opacity: 1;

  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
