<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="./styles/main.css">
  
  <title>Frontend Mentor | Profile card component</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
  <main class="container">
    <div class="card">
      <div class="card__header">
        <div class="card__avatar">
          <img src="./images/image-victor.jpg" alt="avatar">
        </div>
      </div>
      <div class="card__content">
        <div class="card__text">
          <h4>Victor Crest <span>26</span></h4>
        <span>London</span>
        </div>
      </div>
      <div class="card__footer">
        <div>
          <h4>80K</h4>
          <span>Followers</span>
        </div>

        <div>
          <h4>803K</h4>
          <span>Likes</span>
        </div>

        <div>
          <h4>1.4K</h4>
          <span>Photos</span>
        </div>
      </div>
    </div>
  </main>
  <div class="bg">
    <div class="bg-top"></div>
    <div class="bg-bottom"></div>
  </div>
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/yuenu">Yuenu</a>.
  </div>
</body>
</html>
