@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  /* theme */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --gray-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 15px;
  background-color: var(--light-gray);
  font-family: "Outfit", sans-serif;
}

.container {
  height: calc(100% - 17px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.wrapper {
  max-width: 300px;
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
}

.wrapper > img {
  max-width: 100%;
  border-radius: 0.7rem;
}

.wrapper .heading {
  display: inline-block;
  color: var(--dark-blue);
  font-size: 1.35rem;
  font-weight: 700;
  padding: 1.2rem 0.3rem;
}

.wrapper .description {
  color: var(--gray-blue);
  font-size: 0.95rem;
  padding: 0 1.1rem;
  margin-bottom: 1.5rem;
}
