@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:wght@700;900&display=swap");

:root {
	--red: hsl(7, 99%, 70%);
	--yellow: rgb(250, 212, 0);
	--gray: hsl(210, 4%, 67%);
	--blue-1: hsl(213, 9%, 39%);
	--blue-2: hsl(232, 10%, 55%);
	--blue-3: hsl(198, 62%, 26%);
	--blue-4: hsl(212, 27%, 19%);
	--cyan: hsl(167, 40%, 24%);
	--light-cyan: rgb(69, 140, 126);
	--footer-bg: rgba(144, 212, 197, 255);
}

html,
body {
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;
	background: #fffbf8;
}

/* header section */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.header-brand {
	color: #fff;
	font-size: 26px;
}

.header-navigation {
	display: flex;
	gap: 10px;
	list-style-type: none;
}

/* hero section */
.hero {
	height: 100vh;
	background-image: url("./images/desktop/image-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hero-heading {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 50px;
	font-family: "Fraunces", serif;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.hero-arrow {
	position: absolute;
	top: 46%;
	left: 50%;
	transform: translateX(-50%);
	animation: updown 500ms infinite alternate;
	cursor: pointer;
}

/* feature section */
.feature {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.feature-item {
	height: calc(100vw * 0.45);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.feature-item:nth-child(2) {
	background-image: url("./images/desktop/image-transform.jpg");
}

.feature-item:nth-child(3) {
	background-image: url("./images/desktop/image-stand-out.jpg");
}

.feature-item:nth-child(5) {
	background-image: url("./images/desktop/image-graphic-design.jpg");
}

.feature-item:nth-child(6) {
	background-image: url("./images/desktop/image-photography.jpg");
}

.feature-item__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature-item__text div {
	width: 60%;
	max-width: 363px;
}

.feature-item__text h2 {
	font-family: "Fraunces", serif;
	color: var(--blue-4);
	font-weight: 900;
	font-size: 3.5vh;
	margin-bottom: 20px;
	line-height: 1.4;
}

.feature-item__text h5 {
	font-size: 14px;
	color: var(--gray);
	line-height: 1.6;
	margin-bottom: 30px;
}

.feature-item__text button {
	display: inline-block;
	font-family: "Fraunces", serif;
	text-transform: uppercase;
	color: var(--blue-4);
	font-weight: 900;
	letter-spacing: 1px;
	border: 0;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.feature-item__text button::before {
	content: "";
	width: 108%;
	height: 8px;
	background: var(--yellow);
	opacity: 0.4;
	position: absolute;
	bottom: -1px;
	left: -5px;
	border-radius: 10px;
}

.feature-item__mix {
	position: relative;
}

.feature-item__mix div {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.feature-item__mix h3 {
	color: var(--cyan);
	font-size: 26px;
	font-family: "Fraunces", serif;
	margin-bottom: 26px;
}

.feature-item__mix h5 {
	line-height: 1.7;
	max-width: 280px;
	color: var(--light-cyan);
}

/* testimonials section */
.testimonials {
	padding: 150px 0;
}

.testimonials h3 {
	text-align: center;
	font-family: "Fraunces", serif;
	letter-spacing: 3px;
	color: var(--gray);
	font-size: 24px;
	margin-bottom: 60px;
}

.testimonial-boxs {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	margin: auto;
	justify-content: center;
	gap: 20px;
}

.testimonial-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	text-align: center;
}

.testimonial-box__pic {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.testimonial-box__content {
	color: var(--blue-2);
	font-weight: 500;
	font-size: 15px;
	line-height: 1.7;
}

.testimonial-box__credit div {
	font-family: "Fraunces", serif;
	font-size: 15px;
	color: var(--blue-4);
}

.testimonial-box__credit span {
	font-size: 12px;
	color: var(--gray);
}

.dm {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 500px;
}

.dm div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.dm div:nth-child(1) {
	background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
}

.dm div:nth-child(2) {
	background-image: url(./images/desktop/image-gallery-orange.jpg);
}

.dm div:nth-child(3) {
	background-image: url(./images/desktop/image-gallery-cone.jpg);
}

.dm div:nth-child(4) {
	background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
}

.footer {
	background: var(--footer-bg);
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-heading {
	color: var(--cyan);
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 30px;
}

.footer-nav {
	color: var(--light-cyan);
	display: flex;
	align-items: center;
	gap: 40px;
	font-size: 14px;
	margin-bottom: 80px;
}

.social-media {
	display: flex;
	align-items: center;
	gap: 20px;
}

@keyframes updown {
	from {
		top: 46%;
	}

	to {
		top: 55%;
	}
}
