@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 4rem;
}

.headings {
  max-width: 32rem;
  text-align: center;
  margin-top: 5rem;
}

.heading-primary {
  font-weight: 200;
  font-size: 2.2rem;
  color: var(--very-dark-blue);
}

.heading-secondary {
  font-size: 2.2rem;
  color: var(--very-dark-blue);
}

.heading-teritery {
  color: var(--grayish-blue);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 1200px;
  gap: 2rem;
  width: 100%;
  grid-template-areas:
    ".  b  ."
    "a  b  d"
    "a  c  d"
    ".  c  .";
}

.card {
  position: relative;
  max-width: 26rem;
  width: 100%;
  height: 18rem;
  padding: 2rem 3rem;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1%);
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:nth-child(1) {
    grid-area: a;
    &::before {
      background-color: var(--primary-cyan);
    }
  }

  &:nth-child(2) {
    grid-area: b;
    &::before {
      background-color: var(--primary-red);
    }
  }

  &:nth-child(3) {
    grid-area: c;
    &::before {
      background-color: var(--primary-orange);
    }
  }

  &:nth-child(4) {
    grid-area: d;
    &::before {
      background-color: var(--primary-blue);
    }
  }

  &-content {
    color: var(--grayish-blue);
  }

  &-pic {
    width: 4rem;
    margin-top: auto;
    margin-left: auto;
  }
}

@media (max-width: 1240px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }

  main {
    gap: 5rem;
  }

  .headings {
    max-width: 330px;
  }

  .heading-primary,
  .heading-secondary {
    font-size: 1.6rem;
  }

  .heading-secondary {
    margin-bottom: 1rem;
  }

  .heading-teritery {
    font-size: 1rem;
  }

  .container {
    gap:1.8rem;
  }

  .card {
    justify-self: center;
    max-width: 330px;
    padding: 2rem;
  }
}
