@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing:border-box;
}

body{
    font-family:"Poppins", sans-serif;
    margin:0px;
    padding:0px;
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    min-height:100vh;
    align-items:center;
    justify-content: center;
    display:flex;

}

.quiz-container{
    background-color: #fff;
    width:500px;
    max-width:100%;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    overflow:hidden;
}

.quiz-header{
    padding:3rem;
}

h2{
    margin: 0;
    padding:1rem;
    text-align:center;
}

ul{
    list-style-type:none;
    padding: 0;
}

ul li{
    margin:1rem 0;
    font-size:1.2rem;
}

ul li label{
    display:inline-block;
    justify-content:center;
    text-align:center;
    cursor:pointer;
    background-color: #996699;
    color:white;
    width:50%;
}

button{
    background-color: #9b59b6;
    color:white;
    width:100%;
    padding: 1.5rem;
    display:block;
    font-size:1.5rem;
    font-family:inherit;
    border:none;
    cursor:pointer;
}

button:hover{
    background-color: rebeccapurple;
}

button:focus{
    background-color: #5e3370;
    outline:none;
}