*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Heebo', sans-serif;
    list-style:none;
}

.landing {
    min-height:100vh;
    background: url('./home.jpg');
    background-size: cover;
    padding: 0rem 5rem;
}

nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:10vh;
}

.nav-links {
    display:flex;
}

.nav-links li {
    margin-left:5rem;
    font-size:1.2rem;
}

#logo {
    font-family: "lobster", cursive;
    font-size:2rem;
    font-weight:lighter;
}

.big-text {
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-60%, -30%);
    font-size:5rem;
    font-family: "lobster", cursive;
    color: rgb(61,61,61);
}

.intro {
    background-color: #000;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.intro-text {
    color:lightblue;
    font-family:inherit;
    font-size:3rem;
}

.slide {
    background-color: rgb(190, 234, 240);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform:translateY(100%);
}

.hide {
    background: black;
    overflow:hidden;
}

.hide span {
    transform:translateY(100%);
    display:inline-block;
}