@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-gray: hsl(227, 10%, 46%);
  --dark-bule: hsl(229, 23%, 23%);
  --light-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: var(--dark-cyan);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat no-repeat;
  background-position: right 48vw bottom 50vh, left 50vw top 50vh;
}

.container {
  max-width: 350px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  z-index: 1;
}

.card {
  border-radius: 20px;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 3px -5px 50px rgba(0, 0, 0, 0.3);

  &__header {
    background: url(../images/bg-pattern-card.svg);
    flex-basis: 150px;
    position: relative;

    &::before {
      content: "";
      width: 107px;
      height: 107px;
      background-color: #ffffff;
      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
    }
  }

  &__avatar img {
    border-radius: 50%;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.8;

    h4 {
      font-size: 1.4rem;
      color:var(--dark-bule);

      span {
        font-weight: 400;
        margin-left: 0.3rem;
      }
    }

    span {
      color: var(--light-gray);
    }
  }

  &__text {
    text-align: center;
    position: relative;
    top: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 90px;
    border-top: 1px solid var(--light-gray);

    & > div {
      text-align: center;
    }

    h4 {
      font-size: 1.2rem;
      color: var(--dark-bule);
    }

    span {
      font-size: 0.8rem;
      color: var(--light-gray);
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
}
