* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(200, 220, 231);
  color: #000;
  font-family: "Poppins", sans-serif;
  padding: 14em 14em 14em 20em;
}

// .circle {
//   position: absolute;
//   top: 200px;
//   left: 200px;
//   width: 400px;
//   height: 400px;
//   background: rgb(160, 59, 255);
//   border-radius: 50%;
//   z-index: -1;
// }

img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -2;
}

.container {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 3em;
  border-radius: 3em;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(40px);
  background-clip: padding-box;
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);

  .seq {
    padding: 3px;
  }
}

.header-title {
  margin-top: 4rem;
  font-size: 4em;
  padding: 10px;
  clip-path: inset(0 0 0 0);
}
