@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
  font-family: 'Red Hat Display', sans-serif;
  background: hsl(230, 100%, 99%);
  background-image: url(./assets/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

#header {
  background: url(./assets/pattern-circles.svg) no-repeat;
  background-position: center center;
}

/* INPUT RANGE START*/

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #aeb3cb;
  border-radius: 999px;
  background-image: linear-gradient(#aaede6, #aaede6);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height: 50px;
  background: #0fdac6 url('./assets/icon-slider.svg') no-repeat center / 50%;
  box-shadow: 0 10px 20px #0fdac6;
  border-radius: 50%;
  transition: 0.2s;
}

input[type='range']:active::-webkit-slider-thumb {
  background: #27aca2 url('./assets/icon-slider.svg') no-repeat center / 50%;
}

/* INPUT RANGE END*/

/* checkbox - START */
.toggle-control {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked ~ .control {
  background: hsl(224, 23%, 55%);
}

.toggle-control input:checked ~ .control:hover {
  background: #27aca2;
}

.toggle-control input:checked ~ .control:after {
  left: 27px;
  background: white;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 50px;
  border-radius: 14px;
  background-color: #aeb3cb;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:hover {
  background-color: #0fdac6;
}

.toggle-control .control:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 18px;
  height: 18px;
  border-radius: 14px;
  background: white;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
}
/* checkbox - END */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
