*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:'Poppins', sans-serif;
}

button{
    background-color: rebeccapurple;
    color:white;
    padding:1rem;
    border-radius:5px;
    border:none;
    font-family:inherit;
}

.popup-container{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);

    display:none;
    align-items:center;
    justify-content:center;
}

.popup-container.active{
    display:flex;
}

.popup{
    background-color: #fff;
    border-radius:5px;
    box-shadow:-1px -1px 5px rgba(0,0,0,0.7);
    padding:2rem;
    width:500px;
    position: relative;
}

.popup button{
    background-color: #fff;
    color:rebeccapurple;
    font-size:1.5rem;
    outline:none;
    position: absolute;
    top:0px;
    right:10px;
}